/**
 ** SUPER CLASS
 **/

.sc-m-auto {margin:auto !important;}
.sc-m-0 {margin:0 !important;}
.sc-m-5 {margin:5px !important;}
.sc-m-10 {margin:10px !important;}
.sc-m-15 {margin:15px !important;}
.sc-m-20 {margin:20px !important;}

.sc-mt-0 {margin-top:0 !important;}
.sc-mt-5 {margin-top:5px !important;}
.sc-mt-10 {margin-top:10px !important;}
.sc-mt-20 {margin-top:20px !important;}
.sc-mt-30 {margin-top:30px !important;}
.sc-mt-40 {margin-top:40px !important;}
.sc-mt-60 {margin-top:60px !important;}
.sc-mt-80 {margin-top:80px !important;}
.sc-mt-100 {margin-top:100px !important;}

.sc-ml-10 {margin-left:10px !important;}
.sc-ml-15 {margin-left:15px !important;}
.sc-ml-70 {margin-left:70px !important;}

.sc-mr-5 {margin-right:5px !important;}
.sc-mr-10 {margin-right:10px !important;}
.sc-mr-15 {margin-right:15px !important;}
.sc-mr-25 {margin-right:25px !important;}
.sc-mr-40 {margin-right:40px !important;}

.sc-mb-0 {margin-bottom:0 !important;}
.sc-mb-10 {margin-bottom:10px !important;}
.sc-mb-20 {margin-bottom:20px !important;}
.sc-mb-40 {margin-bottom:40px !important;}

.sc-mtb-5 {margin:5px 0 !important;}

/*PADDINGs*/
.sc-p-0 {padding:0 !important;}
.sc-p-40 {padding:40px !important}

.sc-pt-0 {padding-top:0 !important;}
.sc-pt-20 {padding-top:20px !important;}
.sc-pt-40 {padding-top:40px !important;}
.sc-pt-80 {padding-top:80px !important;}
.sc-pb-5 {padding-bottom:5px !important;}
.sc-pb-10 {padding-bottom:10px !important;}
.sc-pb-20 {padding-bottom:20px !important;}
.sc-pb-40 {padding-bottom:40px !important;}

.sc-pl-50 {padding-left: 50px !important;}

.sc-ptb-10 {padding-top:10px !important;padding-bottom:10px !important;}
.sc-ptb-15 {padding-top:15px !important;padding-bottom:15px !important;}
.sc-ptb-40 {padding-top:40px !important;padding-bottom:40px !important;}

.sc-plr-15 {padding-left:15px !important;padding-right:15px !important;}
.sc-plr-20 {padding-left:20px !important;padding-right:20px !important;}
.sc-plr-40 {padding-left:40px !important;padding-right:40px !important;}

.sc-bn {border:none !important;}
.sc-fn {float:none !important;}
.sc-bt {border-top:1px solid #ddd;}
.sc-bb {border-bottom:1px solid #ddd;}
.sc-btn {border-top:none !important;}
.sc-bbn {border-bottom:none !important;}
.sc-bln {border-left:none !important;}
.sc-brn {border-right:none !important;}